certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.4
idna==3.4
markdown-it-py==3.0.0
mdurl==0.1.2
prompt==0.4.1
prompt-toolkit==3.0.39
Pygments==2.15.1
requests==2.31.0
rich==13.4.2
urllib3==2.0.3
wcwidth==0.2.6
